<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />
    <link href="assets/img/logo.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/stylesheets/profile.css">
    <link rel="stylesheet" href="/assets/stylesheets/search-result.css">

</head>

<body>
    <div class="navbar">
        <div class="search-bar">
            <form action="/<%= id %>/search" method="POST">
                <input type="text" id="search" placeholder="Search by BITS Id or Name" name="user[searched_val]">
            </form>

        </div>

        <div class="links" id="nav-links">
            <ul class="nav-links">
                <li><a href="/<%= id %>/nominate">Nominate a friend</a></li>
                <li><a href="/profile/<%= id %>"><i class="fas fa-house-user"></i></a></li>
                <li><a href="/<%= id %>/notifications"><i class="fas fa-bell"></i></a></li>
                <li><a href="/profile/<%= id %>/edit"><i class="fas fa-user-edit"></i></a></li>
                <li><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i></a></li>

            </ul>
        </div>
    </div>
    </div>

    <!-- <div class="social">
        <div class="sarc-logo"> </div>
        <a href="https://www.linkedin.com/company/sarcbitspilani" target="_blank"><i
                class="fab fa-linkedin-in fa-2x"></i></a>
        <a href="https://www.facebook.com/sarcbitspilani" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="https://www.instagram.com/sarcbitspilani" target="_blank" id="instagram"><i
                class="fab fa-instagram fa-2x"></i></a>
        <div class="dots">
            <div class="yellow"></div>
            <div class="blue"></div>
            <div class="red"></div>
        </div>
    </div> -->


    <div class="developer-container">
        <a href="../views/developers.html"><i class="fas fa-code" id="toggleIcon"></i></a>
    </div>
    <!-- <div class="dark-mode-container">
        <i class="fas fa-moon" id="toggleIcon"></i>
    </div> -->

    <section class="search-result">
        <div class="user-wrapper">
            <% if (users.length===0) { %>
            No Users Found Sorry , check Spelling
            <% } %>
            <% for (var i=0; i < users.length; i++) { %>
            <a href="/<%= id %>/search/<%= users[i].bitsId %>">
                <div class="user-card">

                    <div class="profile-photo-user">
                        <% if(users[i].img) { %>
                        <div class="photo"
                            style="background-image: url(/upload/<%=users[i].id%>); background-position: center;background-repeat: no-repeat;background-size:100%;">
                        </div>
                        <% } else { %>
                        <div class="photo"
                            style="background-image: url('<%= users[i].imageUrl %>'); background-position: center;background-repeat: no-repeat;background-size:100%;">
                        </div>
                        <% } %>
                    </div>



                    <div class="user-info">
                        <h3>
                            <%=users[i].name%>

                        </h3>
                        <h4>
                            <p>
                                <% if (users[i].bitsId.charAt(12)=== "P") { %>
                                    <%= users[i].bitsId %>
    
                          <%  }else { %>
                            <%= users[i].bitsId + "P"%>
                            <% } %>
                                </p>
                        </h4>

                    </div>
                </div>
            </a>

            <% } %>

        </div>
     
    </section>


    <!-- <footer>
        <h3>Follow us on:</h3>
        <div class="icons">
            <a href="https://www.linkedin.com/company/arcbitspilani/?originalSubdomain=in"><img
                    src="/assets/images/linkedin.png" id="linkedin"></a>
            <a href="https://www.facebook.com/arcbitspilani/"><img src="/assets/images/facebook.png" id="fb"></a>
            <a href="https://www.instagram.com/sarcbitspilani/"><img src="/assets/images/instagram.png" id="insta"></a>
        </div>
        <a href="/<%= id %>/developers"><button id="devs">Developers</button></a>
    </footer> -->
    <script src="https://kit.fontawesome.com/d689986894.js" crossorigin="anonymous"></script>
    <script src="/assets/scipts/app.js"></script>
</body>

</html>